.campo-digitacao {
	font-size: 20px;
	height: 130px;
}

.frase {
	font-size: 20px;
	text-align: left;
}

.informacoes {	
	text-align: left;
}

.campo-desativado {
	background-color: lightgray;
}

.campo-ativado {
	background-color: white;
}